<!DOCTYPE html>
<html class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rico Lebot – Realtime AI</title>
    <link href="/static/css/output.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full flex items-center justify-center">
    <div class="flex-col space-y-8">
    <div class="flex items-center space-x-5">
        <div class="shrink-0">
            <div class="relative">
                <img class="h-16 w-16 rounded-full" src="/static/images/rico-lebot.jpeg" alt="">
                <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
            </div>
        </div>
        <div>
            <h1 class="text-4xl font-bold text-gray-900 m-4">Rico LeBot</h1>
            <p class="text-xl font-medium text-gray-500 m-4">
                Open-source Voice Assistant
                            <span class="text-indigo-600">fully customizable</span>.
            </p>
        </div>
    </div>
    <div class="flex flex-col space-y-8">
        <h2 class="text-4xl font-bold text-gray-900">Role to play:</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for role in roles %}
            <button class="px-8 py-2 bg-blue-500 text-2xl text-white text-left rounded hover:bg-blue-600" onclick="window.location.href='/run/{{ role.folder }}'">
                {{ role.name }}
            </button>
            {% endfor %}
        </div>
    </div>
</div>
</body>

</html>
